
.wrap {
  width: 100%;
}

h2 {
  font-size: 28px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 500px;  
  border-top: 1px solid #AC9BD2;
  border-bottom: 1px solid #AC9BD2;
  background-color: #492196;
  width: 1200px;
  margin: 0 auto;
}