.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
  background-color: #492196;
  justify-content: space-between;
  align-items: center;
  padding: 1.125em;
  border-bottom: 1px solid #AC9BD2;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: .4em .6em;
}

.active {
  background-color: #D690F6;
  color: #FFFFFF;
  border-radius: 1.875em;
}