body {
  background-color: #2E1276;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

a,
nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #CC9DF8;
  transition: .4s;
  font-size: 1em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

a:hover, 
nav button:hover {
  color: #bbb;
}

h1 {
  font-size: 3em;
  line-height: 1.25em;
}

span {
  color: #D5A5FF;
}

.mw1200 {
 max-width: 1200px;
 width: 100%;
 margin-inline: auto;
}